@import "colors";

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
    color: $white;
}

a {
    color: inherit;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
    font-weight: normal;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

/* Контейнеры */

.container {
    max-width: 1300px;
    margin: auto;
}
@media (max-width: 1000px) {
    .container {
        max-width: 960px;
    }
}


/* Элементы */
@import "./blocks/logo.scss";
@import "./blocks/button.scss";
@import "./blocks/nav.scss";
@import "./blocks/tel.scss";
@import "./blocks/hamburger.scss";

/* Части страницы */
@import "./blocks/header.scss";