@import "colors";


@font-face {
	font-family: 'Aesthetic-White';
    src: url('../fonts/Aesthetic-White.woff');
	font-weight: normal;
	font-style: normal;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $black;
    color: $white;
    margin: auto;
}


a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1 {
    font-weight: normal;
}

h2 {
    font-size: 24px;
    font-weight: normal;

    margin-top: 0;
    margin-bottom: 14px;
    padding: 0;
}

h4 {
    margin-top: 0;
    margin-bottom: 12px;
}

/* Контейнеры */

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 33px;
    padding-right: 33px;
}
@media (max-width: 1000px) {
    .container {
        // max-width: 960px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 728px;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 440px;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 300px;
    }
}

/* Общие классы */
.accent {
    color: $orange;
    font-size: 1.2em;
}
.sign {
    font-family: "Aesthetic-White", serif;
    font-size: 32px;

    display: block;
    text-align: center;
    
    
    position: absolute;
    bottom: -20%;
    left: 40%;
}

/* Элементы */
@import "./blocks/logo.scss";
@import "./blocks/button.scss";
@import "./blocks/nav.scss";
@import "./blocks/tel.scss";
@import "./blocks/action-buttons.scss";
@import "./blocks/hamburger.scss";
@import "./blocks/image-block.scss";
@import "./blocks/slider.scss";
@import "./blocks/project.scss";
@import "./blocks/gallery.scss";


/* Части страницы */
@import "./blocks/header.scss";
@import "./blocks/banner.scss";
@import "./blocks/about.scss";
@import "./blocks/magazine.scss";
@import "./blocks/portfolio.scss";