.magazine--title {
    font-weight: normal;
    color: $orange;
    text-align: center;
    font-size: 1.4em;

    margin-top: 140px;
    margin-bottom: 60px;
}

.magazine--item {
    max-width: 180px;
    margin-bottom: 60px;
}