.project {
    float: left;
    width: 33.1%;
    margin-bottom: 30px;
    transition: 0.5s;
}
@media (max-width: 1200px) {
    .project {
        width: 49.5%;
    }
}
@media (max-width: 500px) {
    .project {
        width: 100%;
    }
}
.project--image {
    position: relative;

    margin-bottom: 24px;
    // img {
        // max-width: 400px;
    // }
}

.project--hover {
    display: none;

    max-width: 400px;

    position: absolute;
    top: 0;

}

.project--title {
    font-family: 'Lora', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.project--city {
    color: $orange;
}